:root {

    /* main colors */
    --primary-color: #F0F7EE;
    --secondary-color: #5D737E;
    --tertiary-color: #354F52;

    /* background color */
    background: var(--primary-color);
    background-image: url(/pictures/background-main.png);
    background-size: contain;
    background-position: center;

    /* font family */
    font-family: 'Fjalla One', sans-serif;

}

body {
    margin: 0;
}

nav {

    display: flex;
    justify-content: space-between;
    background: var(--secondary-color);
    height: 40px;
    align-items: center;
    padding: 0 10px 0 10px;

}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(176, 176, 176);
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

article div {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    width: 50%;
    margin-left: 50px;
}

article h2 {
    margin-left: 50px;
}

article img {
    width: 80%;
    border: solid;
    margin: calc(20%/6)
}

article img:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px white;
    transition: 300ms;
}

article img:nth-child(2) {
    opacity: 80%;
}

article img:nth-child(3) {
    opacity: 60%;
}